.git
.venv
__pycache__
.pytest_cache
.DS_Store
.env
.env.production
.idea
*.py[cod]
*.log
media/uploads/*
media/results/*
media/creative/*
media/previews/*
media/freezes/*
!media/uploads/.gitkeep
!media/results/.gitkeep
!media/creative/.gitkeep
